@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/* background color for each section */
/* background color + align: h2, h3 */
h2, h3, h4 > div {
  background-color: #F5DEB3;
  text-align: center;
}
h2, h3, h4 > div {
  text-align: center;
}

/* background color: body, main */
body, main > div {
  background-color: #F5DEB3;
}
/* background color: html, header, footer */
/* background color: darker than above */
html, header > div {
  background-color: #DEB887	;
}
footer > div {
  background-color: #DEB887	;
  padding-top: 5px;
  padding-bottom: 5px
}

/* background color: paragraphs and list order */
p, li {
  font-family: 'Cutive Mono', sans-serif;
  font-size: 22px;
  color: #CD853F;
  margin-left: 100px;
  margin-right: 100px
}

/* footer aligned */
footer > div {
  text-align: center; 
}
/* fonts and sizes for h1, h2, h3, h4 */
h1, h2 {
  font-family: 'Cutive Mono', cursive;
  font-size: 64px;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

h3 {
  font-family: 'Cutive Mono', cursive;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

h4 {
  font-family: 'Cutive Mono', cursive;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
/* image details */
.selfie-denim {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%
}

a:link    { color: #191970;  }
a:visited { color: #800000;   }
a:hover   { color: #D8BFD8; }
a:active  { color: #556B2F;  }